/* home-container */
.home-container {
  padding: 20px;
  max-width: 800px; /* Độ rộng tối đa của home-container */
  width: 100%; /* Kéo dài home-container đến bên trái và phải */
  margin: 0 auto; /* Căn giữa theo chiều ngang */
 
}

/* List_family */
/* List_family */
.List_family {
  list-style: none;
  padding: 0;
  max-height: 500px; /* Chiều cao tối đa trước khi hiển thị scrollbar */
   overflow-y: auto; /* Hiển thị scrollbar khi quá dài */
}


/* home-title */
.home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line-family */
.line-family {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Màu nền của hàng */
  padding: 10px;
  border: 1px solid #ccc; /* Viền */
  border-radius: 20px;
}

.line-family div{
  margin-left: 30px;
}

/* IconButton */
.line-family .MuiButtonBase-root {
  padding: 6px;
  margin: 2px;
  background-color: #007bff; /* Màu nền của nút */
  color: #fff; /* Màu chữ trên nút */
}

/* EditIcon */
.line-family .MuiButtonBase-root.MuiIconButton-root {
  padding: 8px; /* Kích thước của biểu tượng chỉnh sửa */
  background-color: #255e26; /* Màu nền của biểu tượng chỉnh sửa */
}

/* DeleteIcon */
.line-family .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd {
  background-color: rgb(54, 171, 244); /* Màu nền của biểu tượng xóa */
}

/* Button "Add New Registration" */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
